body {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  background: url('/public/image/background.svg') no-repeat center center fixed;
  background-size: cover;
  background-position: center;
}
.signmain {
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.background {
  width: 100%;
  height: 450px;
  display: flex;
  padding: 20px;
  justify-content: center;
}

.background h1 {
  color: #3498db;
  font-size: 30px;
  font-weight: 500;
  width: 100%;
}

.background span {
  font-size: 70px;
  font-weight: 800;
}

.background div {
  margin-top: 200px;
}

.sec2 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* background-color: rgb(168, 168, 241); */
  padding: 20px;
  gap: 30px;
}
.sec2 h5{
  font-size: 30px;
  font-weight: 700;
  color: rgb(102, 102, 245);
}
#htserve h2 {
  font-size: 35px;
  font-weight: 500;
  color: blue;
}

.services {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.services div {
  width: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  align-items: center;
  background-color: transparent;
  border: 1px solid #3498db;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.services img {
  width: 100%;
  height: 250px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.services h3 {
  padding: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  color: blue;
}

.services h3:hover {
  color: seagreen;
}

.trust,
.loginForm {
  width: 100%;
  height: auto;
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.trust h4 {
  width: 80%;
  font-size: 60px;
  font-weight: 700;
  padding: 20px;
  color: rgb(102, 102, 245);
}

.joinBtn {
  width: 250px;
  height: 80px;
  background-color:  rgb(102, 102, 245);
  border-radius: 20px;
  border: 2px solid silver;
  font-size: 22px;
  font-weight: 700;
  color: silver;
}

.trust form, .loginForm form {
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: auto;
  width: 90%;

}

.trust form:hover {
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.1);

}
.loginForm form:hover {
  box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.1);

}
#have{
  font-size: 18px;
  font-weight: 800;
}

.trust label,
.loginForm label,
.reg label,
.docdetails label {
  font-size: 20px;
  font-weight: 600;
}

.trust input,
.loginForm input {
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  padding: 20px;
  border: none;
}



#pass_container {
  position: relative;
  width: 100%;
  /* background-color: firebrick; */
  /* max-width: 300px; */
}

#pass_container input {
  width: 100%;
  padding-right: 40px;
  padding: 20px;
  box-sizing: border-box;
}

.toggle-icon {
  position: absolute;
  right: 10px;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
  /* color: #888; */
}

footer {
  background-color: black;
  color: whitesmoke;
  text-align: center;
  width: 100%;
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.sidenav {
  /* width: 270px; */
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  /* position: fixed;
  left: 0; */
}
nav {
  width: 100%;
  height: 150px;
  background-color: transparent;
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  z-index: 1000;
  display: flex;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  justify-content: center;
}
.sidenav div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  /* background-color: #3498db; */
}

/* .sidenav h3,
.sidenav22 h3 {
  font-size: 25px;
  font-weight: 700;
  font-family: sans-serif;
  width: 250px;
  height: 100px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  text-align: center;
  line-height: 100px;
  background-color: white;
  color: #3498db;
  padding: 5px;
} */

.side button {
  background-color: transparent;
  box-shadow: 20px;
  width: 100%;
  height: 40px;
  border: none;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #064c7a;
  transition: 3s;
}

.side button:hover {
  color: silver;
  padding: 10px;
  text-decoration: underline;
}

.patientDash {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  overflow-x: auto;
  gap: 20px;
  justify-content: center;
  /* background-color: gold; */
  /* padding: 10px; */
}

.patientDash::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.patientDash::-webkit-scrollbar-thumb {
  background: #3498db;
  border-radius: 5px;
  display: none;
}

.patientDash div {
  border-radius: 10px;
  background-color: #3498db;
  border: none;
  width: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.patientDash h3{
  font-size: 30px;
  font-weight: 700;
  color: whitesmoke;
  text-align: center;
  padding: 20px;
  width: auto;
}
.patientDash h3:hover{
  color: #3498db;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.patientDash img{
  width: 100%;
  height: 200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#greeting{
  font-size: 32px;
}

.profile {
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: silver;
}

.profile div {
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* background-color: rebeccapurple; */
}

.profile input {
  width: 100%;
  height: 40px;
  background-color: gray;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  padding: 50px;
  width: 100%;
  height: 100vh;
  background-color: whitesmoke;
}

.book {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  gap: 50px;
}
#goBack, #hidden_btn{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color:rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  text-align: center;
}
.modalbtn{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.confirm{
  background-color: red;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.cancel{
  background-color: #ccc;
  color: #000;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#logout{
  width: 100%;
  height: 40px;
  color: red;
  font-weight: 700;
  border: none;
  border-radius: 15px;
  background-color: silver;
}
#logout:hover{
  color: whitesmoke;
  background-color: red;
}
.details,
.records {
  overflow-x: auto;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  /* background-color: aquamarine; */
 
}
.mq_details{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: transparent;
  padding: 20px;
}

.details::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.details::-webkit-scrollbar-thumb {
  background: #3498db;
  border-radius: 5px;
}

.docs {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin: auto;
  padding: 10px;
  width: 100%;
  height: auto;
  /* background-color: gray; */
}
.docs strong, .docs h3{
  color: blue;
  font-size: 15px;
  font-weight: 800;
}
.docs p {
  font-size: 20px;
  font-weight: 700;
  color: #3498db;

}
.doc_header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.doc_header input{
  width: 50%;
  padding: 10px;
  height: 40px;
  font-weight: 600;
}

.reg {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  /* background-color: gray; */
  padding: 20px;
}

.reg div {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.reg button {
  width: 70%;
  height: 45px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-weight: 700;
}
.times{
  display: flex;
  flex-direction: row;
  width: 80%;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;

}

.more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  /* gap: 10px; */
  width: 100%;
  height: 100vh;
  background-color: #064c7a;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow-x: auto;
  padding: 20px;
}
.more h2{
  color: silver;
  font-weight: 700;
  font-size: 28px;
}

.infodoc {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.docdetails {
  width: 50%;
  height: auto;
  background-color: silver;
  /* background-color: rgb(194, 238, 238); */
  padding: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* align-items: center; */
}

.docdetails div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;

}

.docdetails input {
  width: 80%;
  height: 40px;
  font-size: 25px;
}

.docdetails button {
  width: 100%;
  height: 45px;
}

.docApt {
  display: flex;
  flex-direction: column;
  /* background-color: #3498db; */
  width: 100%;
  height: 100vh;
  padding: 10px;
  overflow-x: auto;
  gap: 10px;
}
.products{
  width: 100%;
  /* height: 300px; */
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  background-color: #ccc;
  padding: 20px;
  overflow-x: auto;
}
.prod{
  background-color: silver;
  height: auto;
  width: fit-content;
  padding: 10px;
  border: 2px solid #3498db;
  border-radius: 20px;
}
.adminTable {
  font-size: 20px;
  font-weight: 600;
  width: 100%;

  background-color: transparent;
  color: whitesmoke;
}

.adminTable th {
  padding: 10px;
}

.adminTable td {
  padding: 10px;
  border-bottom: 2px solid whitesmoke;
}

.adminTable tbody {
  /* background-color: aquamarine; */
  height: 300px;
  /* overflow-x: auto; */
}

.adminDocs {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  gap: 30px;
  padding: 40px;
}

.addinfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 500px;
  overflow-x: auto;
  background-color: transparent;
  /* padding: 10px; */
  flex-wrap: wrap;

}

.addinfo div {
  width: 30%;
  height: 250px;
  border-radius: 15px;
  border: 1px solid black;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  background-color: whitesmoke;
}

.addinfo section {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

#htserve {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#tag_holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  height: auto;
}

#mq_tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 10px;
  width: 33%;
  height: 120px;
  border: 1px solid black;
  background-color: #064c7a;
}

#mq_tag h3 {
  font-size: 30px;
  font-weight: 700;
  color: whitesmoke;
}
#docInfo{
  font-size: 25px;
  font-weight: 400;
}
#mq_tag h5 {
  font-size: 25px;
  font-weight: 400;
  color: silver;
}

#quick {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  gap: 20px;
  width: 100%;
}

#quick button {
  width: 22%;
  height: 50px;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  background-color: silver;
  color: #064c7a;
  border: none;
}

.dropdown {
  display: none;
}

.sidenav22 {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  background-color: #3498db;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

}

#book_menu button:hover{
  color: #3498db;
  padding: 10px;
}
#apt_table{
  background-color: silver;
  font-size: 18px;
  font-weight: 400;
}
#apt_table button{
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  background-color: white;
  color: white;
  
}
.pay_status{
  width: 100%;
  height: 100vh;
  padding: 30px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3498db;
}
.pay_status div{
  display: flex;
  flex-direction: row;
  gap: 50px;
  background-color: rebeccapurple;
  align-items: center;
}


@media (max-width: 960px) {
  .background span {
    font-size: 50px;
    font-weight: 800;
  }

  .sec2 h2 {
    font-size: 40px;

  }

  .trust h4 {
    font-size: 40px;

  }
}

@media (max-width: 870px) {
  .services div {
    width: 100%;
    flex-direction: row;

  }

  .services {
    flex-direction: column;
  }

  .services img {
    width: 50%;
    height: 300px;
  }

  #quick {
    flex-wrap: wrap;

  }

  #quick button {
    width: 45%;
  }

  #tag_holder {
    flex-direction: column;
  }

  #mq_tag {
    width: 100%;
    height: 90px;
  }
  .patientDash div{
    width: 45%;
  }
  #book_menu img, #book_menu strong{
    display: none;
  }
}

@media (max-width: 788px) {
  .background span {
    font-size: 30px;
    font-weight: 800;
  }

  .sec2 h2 {
    font-size: 25px;
  }

  .trust h4 {
    font-size: 25px;

  }
  .patientDash h3{
    font-size: 23px;
  }
  #greeting{
  font-size: 28px;
}
.doc_header{
  flex-direction: column;
}
.doc_header input{
  width: 80%;
}
}

@media (max-width: 550px) {
  .services div {
    width: 100%;
    flex-direction: column;

  }

  .services {
    flex-direction: row;
  }

  .services img {
    width: 100%;
    height: 200px;
  }

  #htserve {
    flex-direction: column;
    justify-content: center;
  }
  .mq_details, .reg div{
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1100px) {
  .sidenav {
    width: 250px;
  }

  #mq_tag h3 {
    font-size: 23px;
  }
}

@media (max-width: 670px) {
  .sidenav {
    display: none;
  }

  #hidden_btn {
    display: none;
  }

  .dropdown {
    position: relative;
    display: flex;
  }

  .dropMenu {
    position: absolute;
    top: 100%;
    left: 0;
    /* right: 0; */
    background-color: white;
    color: black;
    display: none;
    width: 300px;
    height: 450px;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;
  }

.dropMenu.show {
  display: flex;
  
}
  .dropdown:hover .dropMenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  .patientDash div{
    flex-direction: row;
    width: 100%;
    height: 260px;
    /* background-color: #3498db; */
  }
  .patientDash img{
  width: 50%;
  height: 250px;
}
}